/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 *{
  margin: 0px;
  padding: 0px;
 }

 body{
  background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.athletadesk.com%2Fjoin-free%2Fjoin-background%2F&psig=AOvVaw2C-DQNgLEVtrNI70FTZ63F&ust=1680936223745000&source=images&cd=vfe&ved=0CBEQjRxqFwoTCPCtzceVl_4CFQAAAAAdAAAAABAF);
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Times New Roman', Times, serif;
 }
