
ul {
    list-style: none;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  .recipes-list {
    display: flex;
    flex-direction: column;
    padding: 3rem;
  }
  
  div.recipes-list .recipe {
    display: grid;
    grid-template-columns: 1fr 5fr;
    column-gap: 2rem;
    place-items: baseline;
  }
  
  .recipe-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .recipe-number {
    font-size: 2rem;
  }
  
  .remove-link {
    color: #fff;
    background-color: rgba(234, 36, 9, 0.5);
    padding: 0.5rem;
    text-align: center;
    border: 2px solid #ea2409;
    border-radius: 0.6rem;
  }
  
  .remove-link:hover {
    color: #fff;
    background-color: #ea2409;
  }
  